<% participations.each do |participation| %>
  <div class="card-product mt-2">
    <%= link_to quest_path(participation.quest) do %>
      <%= cl_image_tag(participation.quest.photo.key, crop: :fill) %>
  <% end %>
    <div class="card-product-infos d-flex">
      <div class="nom pr-3 flex-shrink-1">
        <h6>Quête : <%= participation.quest.title %></h6>
        <h2> <%= participation.quest.points %></h2>
      </div>
      <div class="btn-second btn-light">
        <%= link_to participation_path(participation), method: :delete, data: { confirm: "Êtes-vous certain de vouloir supprimer cette quête ?" } do %>
          <i class="far fa-trash-alt"></i>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<div class="btn-second btn-light">
  <%= link_to edit_quest_path(@quest), method: :delete, data: { confirm: "Êtes-vous certain de vouloir supprimer cette quête ?" } do %>
    <i class="far fa-trash-alt"></i>
  <% end %>
</div>
