<% participations.each do |participation| %>
  <div class="card-product-wrapper">
    <div class="card-product opacity-past mt-2">
      <div class="card-quest-image w-100">
      <%= link_to quest_path(participation.quest) do %>
        <%= cl_image_tag(participation.quest.photo.key) %>
      </div>
      <% end %>
      <div class="card-product-infos d-flex flex-column flex-grow-1">
        <h6> <%= participation.quest.title %></h6>
        <div class="score_information">
          <h6> <%= participation.quest.points %> pts</h6>
        </div>
      </div>
      <div class="card-product-actions">
        <%= render "./participations/review_form_modal", participation: participation %>
      </div>
    </div>
  </div>
<% end %>
