<div class="levels-position" id="container-levels">
  <img class="cloud-1" src=<%= image_path("cloud1.png") %> alt="">
  <img class="cloud-3" src=<%= image_path("cloud3.png") %> alt="">
  <div class="card-level color-level-1">
    <div class="card-width">
      <div class="card-body">
        <%= render "../views/quests/cards_level", level: @level_1 %>
      </div>
    </div>
      <h3 class="title-quest-level" id="title-level-one">FACILE <span><i class="far fa-star"></i></span></h3>
      </span></h3>
  </div>

  <div class="card-level color-level-2">
    <div class="card-width">
      <div class="card-body">
        <%= render "../views/quests/cards_level", level: @level_2 %>
      </div>
    </div>
      <h3 class="title-quest-level" id="title-level-two">DEFENSEUR <span><i class="far fa-star"></i><i class="far fa-star"></i></span></h3>
  </div>

  <div class="card-level color-level-3">
    <div class="card-width">
      <div class="card-body">
        <%= render "../views/quests/cards_level", level: @level_3 %>
      </div>
    </div>
      <h3 class="title-quest-level" id="title-level-three">EXPERT <span><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></span></h3>
  </div>

</div>
