<div class="container-fluid container-position">
  <div class="back">
    <%= link_to quests_path, class: 'comeback' do %>
      <%= image_tag('arrow.svg', height: 20, width: 20) %>
    <% end %>
  </div>
  <!-- <div class="mx-auto" style="width: 200px;"> -->
    <%#= simple_form_for([@quest, @participation]) do |f| %>
      <%#= link_to '', quests_path(quest_level: @quest.points), class: 'comeback' %>
      <!-- <i class="fas fa-angle-left"></i> -->
    <%# end %>
  <!-- </div> -->
  <div class="row justify-content-center">
    <div class="titre_1 w-100">
      <div class="quest-image" style="background: url('<%= cl_image_path @quest.photo.key , alt: "alttext" %>')">
        <p class="score m-0"><span><%= @quest.points %></span> pts</p>
      </div>
      <div class="title_quest m-2">
        <h2>
          <strong><%= @quest.title %></strong>
        </h2>
      </div>
    </div>
    <div class="card-description-quest">
      <div class="description_quest1 m-2">
        <p>
          <i class="fas fa-tree"></i>
          <%= @quest.content %>
        </p>
      </div>
      <div class="description_quest2 m-2">
        <p>
          <i class="fab fa-pagelines"></i>
          <%= @quest.content_2 %>
        </p>
      </div>
      <% if @quest.content_3 %>
        <div class="description_quest3 m-2">
          <p>
            <i class="fas fa-leaf"></i>
            <%= @quest.content_3 %>
          </p>
        </div>
    </div>
      <% end %>
  </div>
  <div class="mx-auto" style="width: 200px;">
    <%= simple_form_for([@quest, @participation]) do |f| %>
      <%= f.submit "Accepter cette quête !", class: 'btn btn-color mb-4 font-weight-bold' %>
    <% end %>
  </div>

    <div class="list-group">
      <h4>Commentaires</h4>
      <% @quest.reviews.each do |review| %>
      <div class="card-review">
        <h5><%= review.user.username %></h5>
        <div>
          <%# if review.rating %>
          <% rating = review.rating %>
          <% stars = 0 %>
          <% until stars == rating %>
            <i class="fas fa-star star-rating"></i>
            <% stars += 1 %>
          <% end %>
            <%# review.rating.times do |i| %>
<!--               <a href="#" data-rating-value=<%#=i%> data-rating-text=<%#= i %> class="br-selected br-current"></a> -->
            <%# end %>
          <%# end %>
        </div>
        <p><%= review.content %></p>
      </div>
      <% end %>
    </div>
</div>
