<div class="container-fluid">
  <div class="row">
    <div class="titre_1 w-100">
      <div class="quest-image" style="background: url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg)">
        <p class="score m-0"><span><%= @quest.points %></span> pts</p>
      </div>
      <div class="title_quest m-2">
        <h1>
          <%= @quest.title %>
        </h1>
      </div>
    </div>
    <div class="description_quest m-2">
      <p>
        <i class="fas fa-tree"></i>
        <%= @quest.content %>
      </p>
    </div>
    <div class="description_quest m-2">
      <p>
        <i class="fab fa-pagelines"></i>
        <%= @quest.content_2 %>
      </p>
    </div>
    <% if @quest.content_3 %>
      <div class="description_quest m-2">
        <p>
          <i class="fas fa-leaf"></i>
          <%= @quest.content_3 %>
        </p>
      </div>
      <% end %>
  </div>
  <div class="participation_button">
    <%= simple_form_for([@quest, @participation]) do |f| %>
      <%= f.submit "Accepter ce challenge !" %>
      <% end %>
  </div>
</div>
