<div class="position container-fluid">
  <div class="row d-flex justify-content-center pt-3">
    <div class="clouds">
      <img class="profile-cloud1" src=<%= image_path("cloud1.png") %> alt="">
      <img class="profile-cloud3" src=<%= image_path("cloud3.png") %> alt="">
    </div>
    <h3 class="profile-username pt-2"> <strong><%= @profile.username %></strong></h3>
    <div class="d-flex align-items-center pt-2">
      <div class="profile-user-card mb-2 mx-2">
          <p class="profile-user-title"><i class="fas fa-star"></i> score </p>
          <p class="profile-user-infos"><strong><%= @profile.score %></strong> pts</p>
      </div>
      <div class="profile-user-card mb-2 mx-2">
          <p class="profile-user-title"><i class="fas fa-shoe-prints"></i></i> carbone </p>
          <p class="profile-user-infos"><strong><%= ((@profile.foot_print) / 100.0).round(1) %></strong> T / C02 e</h2>
      </div>
    </div>
  </div>
  <%= render "./participations/participations_index_partial", locals: {participations_past: @my_past_participations, participations_current: @my_current_participations} %>
  </div>
</div>
