<div class="compare">
  <img class="earth-stars" src=<%= image_path("stars.png") %> alt="">
  <img class="earth-stars" src=<%= image_path("stars.png") %> alt="">
  <img class="earth-stars" src=<%= image_path("stars.png") %> alt="">
  <div class="earth_needed text-center text-white m-2">
    <h4>Si tout le monde vivait</h4>
    <h4>comme toi, il faudrait :</h4>
    <h1><strong><%= current_user.planets.round(1) %></strong> planètes
    </h1>
  </div>
  <div class="earth pt-2 mb-3">
    <% current_user.planets.truncate.times do %>
      <%= image_tag "terre.png", class: "full-earth" %>
    <% end %>
    <% if current_user.planets > current_user.planets.truncate %>
      <%= image_tag "half-terre.png", class: "half-earth" %>
    <% end %>
  </div>
  <h4 class="text-center text-white"><i class="fas fa-shoe-prints"></i></i> carbone dans le monde</h4>
  <div class="graph_d" style="width:330px" id="graph_d"></div>
  <div id='graph_javascript_first' class="pt-4">
  </div>
  <div id='graph_javascript_second'>
  </div>
</div>
