<!DOCTYPE html>
<html>
  <head>
    <title>Colibri</title>
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!-- Facebook -->
    <meta property="og:title" content="Colibri - Faire sa part">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.colibri.herokuapp.com/">
    <%= favicon_link_tag "colibri_favicon.png" %>
    <meta name="viewport" content="width=320, initial-scale=1">
    <link rel="manifest" href="<%= asset_path 'manifest.json' %>">
    <%= render 'shared/ios_pwa_links' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <link href="https://fonts.googleapis.com/css?family=Slabo+27px&display=swap" rel="stylesheet">    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-3d.js"></script>
    <script src="https://code.highcharts.com/modules/cylinder.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
  </head>

  <body id="<%= controller.controller_name %>-<%= controller.action_name %>">

    <% if pages_home? == false %>
      <%= render 'shared/navbar' %>
    <% end %>
    <% if pages_home? %>
      <div class="content-wrapper-home">
    <% elsif pages_quests_index? %>
      <div class="content-wrapper-quests-index">
    <% elsif pages_quests_show?%>
      <div class="content-wrapper-quests-show">
    <% elsif pages_profile_show? %>
      <div class="content-wrapper-profile-show">
    <% elsif pages_earth? %>
      <div class="content-wrapper-earth">
    <% else %>
      <div class="content-wrapper">
    <% end %>
        <%= yield %>
      </div>

    <% if pages_home? == false %>
      <%= render 'shared/footer' %>
    <% end %>
    <%= render 'shared/flashes' %>
  </body>
</html>
