<!DOCTYPE html>
<html>
  <head>
    <title>Colibri</title>
    <meta name="viewport" content="width=320, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <link href="https://fonts.googleapis.com/css?family=Slabo+27px&display=swap" rel="stylesheet">    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body id="<%= controller.controller_name %>-<%= controller.action_name %>">

    <%# if user_signed_in? %>
      <%#= redirect_to root_path %>
    <%# else %>
      <%#= render 'devise/sessions/new' %>
    <%# end %>

    <% if pages_home? == false %>
      <%= render 'shared/navbar' %>
    <% end %>



    <% if pages_home? %>
      <div class="content-wrapper-home">
    <% elsif pages_quests_index? %>
      <div class="content-wrapper-quests-index">
    <% else %>
      <div class="content-wrapper">
    <% end %>
        <%= yield %>
      </div>

    <% if pages_home? == false %>
      <%= render 'shared/footer' %>
    <% end %>
    <%= render 'shared/flashes' %>
  </body>
</html>
